nav {
  & > ul {
    list-style: none;
    padding-inline: 0;
    margin-block: 0;

    & .active {
      text-decoration: underline;
    }

    & > li {
      padding: 0.3rem 0;
      & > a {
        padding: 1rem;
      }
    }
  }
}
