.emotion-detection {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  & .main {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    & > video {
      transform: scaleX(-1);
      // visibility: hidden;
      width: auto;
      height: auto;
      padding: 1rem;
    }

    & > canvas {
      padding: 1rem;
    }
  }
  & nav > ul > li {
    text-align: center;
  }
}
